{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <title>{% block title %}الشعر السعودي{% endblock %}</title>
</head>
<body {% if "mode" in request.COOKIES and request.COOKIES.mode == "dark" %} class="dark" {% endif %}>
  <header class="navbar">

    <h1 class="logo">الشعر السعودي</h1>

    <!-- checkbox للتحكم بالقائمة -->
    <input type="checkbox" id="menu-toggle">

    <!-- زر القائمة -->
    <label for="menu-toggle" class="menu-icon">
        <span class="material-symbols-outlined">menu</span>
    </label>

    <div class="nav">

        <a href="{% url 'main:home_view' %}">الرئيسية</a>
        <a href="{% url 'main:about_poetry_view' %}">عن الشعر</a>
        <a href="{% url 'main:cultural_features_view' %}">الملامح الثقافية</a>
        <a href="{% url 'main:poetry_forms_view' %}">فنون الشعر</a>
        <a href="{% url 'main:poets_view' %}">الشعراء</a>

        <a href="{% url 'main:mode_view' 'toggle' %}?next={{request.path}}" class="theme-toggle-btn">
            {% if request.COOKIES.mode == "dark" %}
                <span class="material-symbols-outlined">light_mode</span>
            {% else %}
                <span class="material-symbols-outlined">dark_mode</span>
            {% endif %}
        </a>

    </div>

</header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <div class="footer-links">
      <a href="{% url 'main:about_view' %}">عن الموقع</a>
      <a href="{% url 'main:contact_view' %}">اتصل بنا</a>
    </div>
    <div class="social">

      <a href="https://github.com/SalehAlsuwat" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>

      <a href="https://www.linkedin.com/in/alsuwatsaleh/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <p>&copy; 2026 صالح السواط. جميع الحقوق محفوظة.</p>
    </div>
  </footer>
  
</body>
</html>